body {
  color: #31373d;
  background: white;
  font: normal 18px/1.4 Georgia, sans-serif;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 520px;
  min-height: 100vh;
  padding: 24px 12px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}
.title__text {
  font-size: 32px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 6px;
}
.title__text::before,
.title__text::after {
  opacity: 0.7;
}
.title__text::before {
  content: '∙ ';
}
.title__text::after {
  content: ' ∙';
}

.app {
  flex-grow: 1;
  display: flex;
}
.app__inner {
  width: 100%;
}

.welcome {
  margin: 24px 0;
  padding: 16px;
}
.welcome__content {
  border-top: 2px solid darkgrey;
  padding: 24px 0;
}
.welcome__content > p {
  margin-top: 0;
}
.welcome__content > p + p {
  margin-bottom: 0;
}
.welcome__content--center {
  display: flex;
  justify-content: center;
}

.palette {
  border-top: 2px solid darkgrey;
  padding-top: 24px;
}
.palette__inner {
  border: none;
  padding: 0;
  margin: 0;
}
.palette__caption {
  display: block;
  margin-bottom: 8px;
}
.palette__colors {
  padding: 4px 0;
}

.tile {
  width: 6%;
  height: 0;
  padding-top: 6%;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 24px;
  cursor: pointer;
}
.tile:hover {
  box-shadow: 0 -1px 0 1px #71777d, 1px 0 0 1px #71777d, 0 1px 0 1px #71777d,
    -1px 0 0 1px #71777d;
}
.tile--active:hover,
.tile--active {
  box-shadow: 0 -1px 0 1px #31373d, 1px 0 0 1px #31373d, 0 1px 0 1px #31373d,
    -1px 0 0 1px #31373d;
}
.tile__input {
  opacity: 0;
}

.canvas {
  display: flex;
}
.canvas__inner {
  margin: 8px auto;
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: row;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .title__text {
    letter-spacing: 6px;
    word-spacing: 12px;
  }
}
